@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "./fonts.css";
/* 애니메이션 함수 생성 */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #1a1a1a;
  letter-spacing: -0.02em;
  font-optical-sizing: auto;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1a1a1a;
}
img {
  border: 0;
  vertical-align: middle;
}
/* ----------헤더 영역---------- */
header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9999;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 96px;
  gap: 560px;
  padding: 0 160px;
  background-color: #27a169;
}
.logo {
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 200px;
  height: 53px;
}
.navigation {
  display: flex;
  gap: 84px;
}
.navigation .menu-list {
  display: flex;
  gap: 84px;
}
.navigation .menu-list a {
  font-size: 16px;
  font-weight: 500;
  color: #fff7ee;
}
.navigation .menu-list a:hover {
  font-weight: 800;
}
.nav-btn {
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
}
.nav-btn a {
}
.nav-btn img {
  width: 18px;
  height: 12px;
}
/* ----------메인 영역--------- */
main {
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* ----------히어로 영역---------- */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 984px;
  overflow: hidden;
  background: linear-gradient(to bottom, #27a169, #fff7ee);
}
.hero img {
  position: absolute;
}
.house1 {
  width: 360px;
  height: 360px;
  left: 136px;
  top: 6px;
  animation: float 3s ease-in-out infinite;
}
.right-book {
  width: 1820px;
  height: 1820px;
  left: 1285px;
  top: -980px;
  animation: float 3s ease-in-out infinite;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); */
}
.left-book {
  width: 1128px;
  height: 1128px;
  top: 114px;
  left: -30px;
  z-index: 999;
  /* animation: float 3s ease-in-out infinite; */
}
.peper {
  width: 1518px;
  height: 1684px;
  left: 562px;
  top: -526px;
}
.book {
  width: 232px;
  height: 186px;
  top: 768px;
  left: 377px;
  z-index: 999;
  animation: float 3s ease-in-out infinite;
}
.house2 {
  width: 586px;
  height: 586px;
  top: 630px;
  left: 1179px;
  /* animation: float 3s ease-in-out infinite; */
}
.dash-1 {
  top: 300px;
  left: 120px;
}
.dash-2 {
  top: 300px;
  left: 360px;
}
.hero-main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  z-index: 2;
}
.hero-title {
  display: flex;
  flex-direction: column;
  /* gap: 41px; */
  align-items: center;
  justify-content: center;
}
.hero-title h1 {
  color: #fff7ee;
  font-size: 56px;
  font-weight: 600;
}
.hero-title h2 {
  color: #fff7ee;
  font-size: 24px;
  font-weight: 400;
}
.cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  border: none;
  background-color: #fff7ee;
  border-radius: 16px;
}
.cta-btn:hover {
  background-color: #c57f2e;
}
.cta-btn a {
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 400;
}
/* ----------브랜드 스토리 영역---------- */
.brandstory-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 160px 120px;
}
/* -----지도 영역----- */
.map-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
}

.map-section img {
  /* position: absolute; ---이거 있으면 지도 일러스트도 absolute됨(x)*/
}

.map-card {
  position: relative;
}
.map-img {
  width: 475px;
  height: 679px;
}
.map-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.map-text:nth-of-type(1) {
  top: 100px;
  left: 270px;
}
.map-text:nth-of-type(2) {
  top: 400px;
  left: 300px;
}
.map-text:nth-of-type(3) {
  top: 480px;
  left: 70px;
}
.map-text:nth-of-type(4) {
  top: 280px;
  left: 100px;
}
.map-text:nth-of-type(5) {
  top: 110px;
  left: 90px;
}
.map-text .map-title {
  font-size: 36px;
  font-weight: 500;
  color: #fff7ee;
}
.map-text .map-num {
  font-size: 16px;
  font-weight: 300;
  color: #fff7ee;
}
.lib-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.lib-1 {
  width: 120px;
  height: 120px;
  top: -60px;
  left: 780px;
}
.lib-1 img {
  width: 100%;
  height: 100%;
}

.lib-2 {
  width: 120px;
  height: 120px;
  top: 130px;
  left: 850px;
}
.lib-2 img {
  width: 100%;
  height: 100%;
}

.lib-3 {
  width: 120px;
  height: 120px;
  top: 330px;
  left: 860px;
}
.lib-3 img {
  width: 100%;
  height: 100%;
}

.lib-4 {
  width: 120px;
  height: 120px;
  top: 530px;
  left: 840px;
}
.lib-4 img {
  width: 100%;
  height: 100%;
}

.lib-5 {
  width: 120px;
  height: 120px;
  top: 570px;
  left: 200px;
}
.lib-5 img {
  width: 100%;
  height: 100%;
}

.lib-6 {
  width: 120px;
  height: 120px;
  top: 370px;
  left: 230px;
}
.lib-6 img {
  width: 100%;
  height: 100%;
}

.lib-7 {
  width: 120px;
  height: 120px;
  top: 160px;
  left: 220px;
}
.lib-7 img {
  width: 100%;
  height: 100%;
}

.lib-8 {
  width: 120px;
  height: 120px;
  top: -30px;
  left: 280px;
}
.lib-8 img {
  width: 100%;
  height: 100%;
}
.lib-title {
}
.lib-name {
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  white-space: nowrap;
}
.lib-road {
  font-size: 10px;
  font-weight: 400;
  color: #1a1a1a;
  white-space: nowrap;
}
/* -----텍스트 영역----- */
.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text-section p {
  font-size: 48px;
  font-weight: 400;
}
.text-section span {
  font-size: 64px;
  font-weight: 600;
}
.text-section a {
  font-size: 24px;
  font-weight: 400;
  background-color: #464ba6;
  border-radius: 16px;
  padding: 10px 16px;
  color: #fff7ee;
  border: none;
}
/* ----------추천 도서 영역---------- */
.librecom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  padding: 160px 120px;
}
.libsection-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 115px;
}
.sub-title {
  font-size: 24px;
  font-weight: 400;
  opacity: 80%;
  color: #1a1a1a;
}
.title-search-tag {
  display: flex;
  align-items: flex-end;
  gap: 72px;
}
.title-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.recom-title {
  font-size: 48px;
  font-weight: 600;
  color: #1a1a1a;
}
.search-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search-container input {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 8px 15px;
  border: 2px solid #27a169;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 200;
}
.search-container a {
  position: absolute;
  right: 16px;
}
.search-container a img {
  width: 36px;
  height: 36px;
  opacity: 20%;
}
.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
.tag a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #464ba6;
  border-radius: 16px;
  padding: 8px 16px;
  color: #fff7ee;
  font-size: 16px;
  font-weight: 500;
}
.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
.book-container p {
  font-size: 24px;
  font-weight: 400;
  color: #1a1a1a;
}
.book-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.book-list .img-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 121px;
}
.book-list .img-list .book-img {
  width: 180px;
  height: auto;
}
.book-img img {
  width: 100%;
  height: 100%;
}
.book-list .title-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 121px;
}
.book-list .title-list .book-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
  width: 180px;
  height: auto;
}
.book-title .book-name {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-title .book-sub {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-container img {
}
/* ----------푸터 영역---------- */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 72px 62px;
  background-color: #27a169;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 36px;
}
.footer-logo {
  width: 216px;
  height: auto;
}
.footer-logo img {
  width: 100%;
  height: 100%;
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
.introduction p {
  color: #fff7ee;
  font-size: 16px;
  font-weight: 700;
}
.introduction .with {
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduction .with span {
  color: #fff7ee;
  font-size: 16px;
  font-weight: 600;
}
.introduction .with img {
  width: 179px;
  height: auto;
}
.footer-right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 36px;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.footer-nav a {
  font-size: 16px;
  font-weight: 400;
  color: #fff7ee;
}
.sns-copy {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 120px;
}
.sns-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}
.sns-list a {
  /* width: 16px;
  height: 16px; */
}
.sns a img {
  width: 16px;
  height: 16px;
}
.copy {
}
.copy h3 {
  font-size: 16px;
  font-weight: 400;
  color: #fff7ee;
}
/* ----------스와이퍼 영역---------- */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
